@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-black: #2c2a28;
  --soft-grey: #f4f4f4;
  --border-color: #e0e0e0;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f6f1eb;
  color: #2c2a28;
  letter-spacing: 1px;
}

header-main {
  position: sticky;
  top: 0;
  z-index: 10000;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: bold;
  color: #2c2a28;
}

.hompage-marquee {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 5vh;
  background-color: #d4c092;
}
.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  overflow-x: hidden;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#cartItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 18rem;
  margin: 2rem;

  img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
  }
  .itemInfo {
    button {
      border: none;
      padding: 0.2rem;
      /* background-color: #d4c092; */
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
}
#summary {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.7rem;
  .toHide {
    display: none;
  }
}

.cartFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 2rem;
  flex-wrap: wrap;
  button {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    background-color: #d4c092;
    color: #2c2a28;
    padding: 1rem;
    a {
      text-decoration: none;
      color: #2c2a28;
    }
  }
  button:hover {
    background-color: #eed8a5;
  }
  button:active {
    background-color: #796e54;
  }
}
